.cta {
    background: white;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
        background: black;
        color: var(--brand-text);
    }
}

#crewmate-id-wrapper {
    display: flex;
    gap: 1.5rem;
    margin: 1.5rem 0;

    #crewmate-id-input {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 0.3rem;
        color: white;
        padding: 0.5rem;
        width: 7.5rem;
    }
}

#workflow {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    ol, ul {
        padding-left: 2.5rem;

        li {
            margin-top: 0.5rem;

            &:last-child {
                margin-bottom: 0.5rem;
            }
        }
    }

    ul {
        list-style-type: disc;
    }

    .disclaimer {
        font-size: 0.9rem;
        opacity: 0.5;
    }

    #step-0 {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        width: 900px;
    }

    #step-1 {
        align-items: center;
        display: flex;
        gap: 1.5rem;
    }
}

#crewmate-image-wrapper {
    &.error {
        color: var(--color-warning);
    }
}
