:root {
    --active-bg: #293142;
    --overactive-bg: #333c52;

    --type-c: #5639cc;
    --type-i: #4099ff;
    --type-m: #ad3900;
    --type-s: #c58f00;

    --item-name: #ccc;

    --tier-limit-highlight: #b34fff;

    --flash-error: #8e373a;

    --raw-material: #373737;
    --process: #482066;
    --refined-material: #1c323d;
    --component: #315a6e;
    --finished-good: #47819e;
}

#production-wrapper {
    font-size: 0.8rem;
}

/* options */

.options label {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.options label:hover {
    border-color: gray;
}

.options label.checked {
    background: var(--active-bg);
}

.options label input {
    margin-right: 0.5rem;
}

.options .separator {
    display: inline-block;
    width: 2rem;
}

#chain-settings {
    margin-top: 2rem;
    padding-bottom: 0.5rem; /* compensate for padding of options */
}

/* products list and filters */

#products-list-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 0.5rem;
}

#products-list-wrapper input {
    width: 14rem;
    height: 2rem;
    padding: 0 2rem 0 1rem;
    border: 1px solid var(--item-name);
}

#products-list-wrapper::after {
    content: '✕';
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    line-height: 2rem;
}

#products-list-wrapper.list-hidden::after {
    content: '▼';
    margin: 1px -1px 0 0;
}

#products-list {
    position: absolute;
    z-index: 1;
    width: 14rem;
    max-height: 20rem; /* fit 10 list-items */
    overflow: auto;
    background: var(--overactive-bg);
    border: 1px solid var(--item-name);
    border-top: none;
}

#products-list-wrapper.list-hidden #products-list {
    display: none;
}

#products-list a {
    display: block;
    line-height: 2rem;
    color: var(--item-name);
    text-decoration: none;
    padding: 0 1rem;
}

#products-list a:hover {
    background: var(--dark-bg) !important;
}

#products-list a.not-matching-search {
    display: none;
}

#filter-item-types label {
    color: var(--item-name);
}

#filter-item-types .groupText {
    margin-right: 0.5rem;
}

#products-list a.item-type-finished-good,
#filter-item-types label.checked[for='filter-finished-goods'] {
    color: white;
}

#selected-production-chain {
    margin-top: 2rem;
}

/* tier slider */

#tier-slider-wrapper {
    display: inline-block;
}

#tier-slider-flex {
    display: flex;
    align-items: center;
}

#tier-legend-text {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#tier-legend:hover #tier-legend-text {
    background: var(--active-bg);
}

#tier-legend-text i {
    color: var(--link);
    font-style: normal;
    margin-left: 0.5rem;
}

#tier-legend-details {
    display: none;
    position: absolute;
    background: var(--active-bg);
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    z-index: 1;
}

#tier-legend:hover #tier-legend-details {
    display: block;
}

#tier-legend-details ul {
    list-style-type: disc;
    list-style-position: inside;
}

#tier-value-box input {
    text-align: center;
    width: 2.5rem;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
}

#tier-slider {
    padding-left: 1rem;
}

#tier-slider-range {
    cursor: pointer;
}

#tier-slider-range.pulse {
    /* "box-shadow" looks buggy on Chrome */
    filter: drop-shadow(0 0 0 var(--tier-limit-highlight));
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% { filter: drop-shadow(0 0 0 var(--tier-limit-highlight)); }
	25% { filter: drop-shadow(0 0 0.4rem var(--tier-limit-highlight)); }
	50% { filter: drop-shadow(0 0 0 var(--tier-limit-highlight)); }
}

/* process variants */

#process-variants-wrapper {
    display: none;
    margin-top: 2rem;
}

.has-process-variants #process-variants-wrapper {
    display: block;
}

.has-process-variants #process-variants-wrapper.no-visible-variants {
    display: none;
}

#process-variants {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#process-variants .item {
    display: inline-block;
    background: var(--active-bg);
    padding: 1rem;
    border-radius: 0.5rem;
}

#process-variants .item.irrelevant {
    display: none;
}

#process-variants .item .item-name {
    font-size: 0.9rem;
    font-weight: bold;
}

#process-variants .item .process {
    display: block;
    position: relative;
    margin: 0.5rem 0 0 -0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}

#process-variants .item .process:hover {
    border-color: gray;
}

#process-variants .item .process.checked {
    background: var(--overactive-bg);
}

#process-variants .item .process.error {
    animation: flash-error 150ms;
}

@keyframes flash-error {
    50% { background: var(--flash-error); }
}

#process-variants .item .process-inputs {
    position: absolute;
    top: -1px; /* compensate for border */
    bottom: -1px; /* compensate for border */
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    background: var(--active-bg);
    padding: 0 0.5rem;
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    z-index: 1;
}

#process-variants .item .process.checked .process-inputs {
    background: var(--overactive-bg);
}

#process-variants .item .process.error .process-inputs {
    background: inherit;
}

#process-variants .item .process:not(:hover) .process-inputs {
    display: none;
}

/* production chain */

#production-chain-wrapper {
    text-align: center;
    margin-top: 2rem;
}

#production-chain-items.horizontal-layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -1.5rem;
}

#production-chain-items.vertical-layout {
    display: inline-block;
    /* compensate for the margin of the top-most and bottom-most "#production-chain-items.vertical-layout [data-container-id]" */
    margin: -1.5rem 0;
}

#production-chain-items .level {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#production-chain-items.horizontal-layout .level {
    flex-direction: column;
}

#production-chain-items [data-container-id]:hover {
    position: relative;
    z-index: 1;
}

#production-chain-items [data-container-id]:not(.item-type-process),
#production-chain-items .item-type-process .hexagon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

/* the gap between levels must be applied only for levels with VISIBLE items, after disabling an alternative production path */
#production-chain-items.horizontal-layout [data-container-id] { margin: 0 1.5rem; }
#production-chain-items.vertical-layout [data-container-id] { margin: 1.5rem 0; }

#production-chain-items.faded [data-container-id] {
    opacity: 0.2;
}

#production-chain-items .active[data-container-id] {
    opacity: 1;
}

/* highlight only the OTHER occurrences of this item */
#production-chain-items .hover[data-container-id]:not(:hover) {
    /* "box-shadow" does not work with "clip-path" from ".hexagon" */
    filter: drop-shadow(0 0 0.4rem var(--item-name));
}

#production-chain-items .disabled[data-container-id] {
    display: none;
}

#production-chain-items .selected-item[data-container-id] {
    border-color: var(--item-name);
    border-width: 0.2rem;
}

#production-chain-items .tier-limit-highlight[data-container-id]::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tier-limit-highlight);
    color: black;
    font-size: 0.6rem;
    border: 1px solid var(--item-name);
}

#production-chain-items.horizontal-layout .tier-limit-highlight[data-container-id]:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#production-chain-items.horizontal-layout .tier-limit-highlight[data-container-id]:hover::before {
    content: '►';
    left: 0;
    top: -1px;
    width: 1rem;
    height: 100%;
    margin-left: calc(-1rem - 1px); /* compensate for width and border */
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    /* filter: drop-shadow(-0.25rem 0 0.25rem var(--tier-limit-highlight)); */
    opacity: 0.6;
}

#production-chain-items.vertical-layout .tier-limit-highlight[data-container-id]:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#production-chain-items.vertical-layout .tier-limit-highlight[data-container-id]:hover::before {
    content: '▲';
    bottom: 0;
    left: -1px;
    width: 100%;
    height: 1rem;
    margin-bottom: calc(-1rem - 1px); /* compensate for height and border */
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* filter: drop-shadow(0 0.25rem 0.25rem var(--tier-limit-highlight)); */
    opacity: 0.5;
}

#production-chain-items [data-container-id] .item-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--item-name);
    font-size: 0.9rem;
    padding: 0.5rem;
}

#production-chain-items .selected-item[data-container-id] .item-name {
    color: white;
}

#production-chain-items [data-container-id] .process-name {
    color: var(--item-name);
    font-size: 0.7rem;
    padding: 0.5rem;
}

#production-chain-items [data-container-id] .spectral-types {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin: 0.2rem 0;
}

#production-chain-items [data-container-id] .spectral-type {
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    line-height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

#production-chain-items [data-container-id] .spectral-type.type-C { background: var(--type-c); }
#production-chain-items [data-container-id] .spectral-type.type-I { background: var(--type-i); }
#production-chain-items [data-container-id] .spectral-type.type-M { background: var(--type-m); }
#production-chain-items [data-container-id] .spectral-type.type-S { background: var(--type-s); }

#production-chain-connections > * {
    position: absolute; 
    line-height: 1px;
    z-index: -1;
}

#production-chain-connections .faded {
    opacity: 0.2;
}

#production-chain-connections .arrow::after {
    content: '▶';
    position: absolute;
    right: 0;
}

#production-chain-items [data-container-id], #production-chain-connections * {
    /* transition: opacity 500ms; */
}

/* hide low-tier items, connections, and process variants */
.low-tier-hidden {
    display: none !important;
}

.tier-limit-highlight {
    box-shadow: 0 0 0.75rem var(--tier-limit-highlight);
}

/* item-type backgrounds */

#products-list .item-type-raw-material,
#filter-item-types label.checked[for='filter-raw-materials'],
#production-chain-items [data-container-id].item-type-raw-material {
    background: var(--raw-material);
}

#products-list .item-type-refined-material,
#filter-item-types label.checked[for='filter-refined-materials'],
#production-chain-items [data-container-id].item-type-refined-material {
    background: var(--refined-material);
}

#products-list .item-type-component,
#filter-item-types label.checked[for='filter-components'],
#production-chain-items [data-container-id].item-type-component {
    background: var(--component);
}

#products-list .item-type-finished-good,
#filter-item-types label.checked[for='filter-finished-goods'],
#production-chain-items [data-container-id].item-type-finished-good {
    background: var(--finished-good);
}

/* hexagon inside process container */

#production-chain-items .hexagon, #production-chain-items .hexagon .process-name {
    /* order of corners in clip-path below: right, bottom-right, bottom-left, left, top-left, top-right */
    clip-path: polygon(
        97% 40%, 98.5% 43%, 99.5% 46%, 100% 50%, 99.5% 54%, 98.5% 57%, 97% 60%,
        80% 94%, 78.8% 95.5%, 77.3% 97%, 75.5% 98.2%, 73.7% 99.1%, 71.6% 99.7%, 69.5% 100%,
        30.5% 100%, 28.4% 99.7%, 26.3% 99.1%, 24.5% 98.2%, 22.7% 97%, 21.2% 95.5%, 20% 94%,
        3% 60%, 1.5% 57%, 0.5% 54%, 0% 50%, 0.5% 46%, 1.5% 43%, 3% 40%,
        20% 6%, 21.2% 4.5%, 22.7% 3%, 24.5% 1.8%, 26.3% 0.9%, 28.4% 0.3%, 30.5% 0%,
        69.5% 0%, 71.6% 0.3%, 73.7% 0.9%, 75.5% 1.8%, 77.3% 3%, 78.8% 4.5%, 80% 6%
    );
}

#production-chain-items .hexagon {
    background: gray;
    min-width: 6rem;
    min-height: 4rem;
    height: 100%;
}

#production-chain-items .hexagon .process-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--process);
    padding: 0.5rem 1rem;
}

/* process tooltip */

#production-chain-items .process-tooltip-wrapper {
    position: absolute;
    display: none;
}

#production-chain-items .item-type-process[data-container-id]:hover .process-tooltip-wrapper {
    display: block;
}

#production-chain-items .process-tooltip-wrapper::before {
    content: '⮕';
    position: absolute;
    width: 1rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

#production-chain-items .process-tooltip {
    position: relative;
    background: var(--process);
    text-align: left;
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

#production-chain-items.horizontal-layout .process-tooltip-wrapper {
    left: 50%;
}

#production-chain-items.horizontal-layout .process-tooltip-wrapper::before {
    left: -0.5rem;
    transform: rotate(-90deg);
}

#production-chain-items.horizontal-layout .process-tooltip {
    left: -50%;
    margin-top: 1rem;
}

#production-chain-items.vertical-layout .process-tooltip-wrapper {
    top: 50%;
    transform: translateY(-50%);
    right: -8rem;
}

#production-chain-items.vertical-layout .process-tooltip-wrapper::before {
    top: calc(50% - 0.55rem);
    left: -1rem;
    transform: scaleX(-1);
}

#production-chain-items .process-tooltip ul::before {
    content: 'Module parts:';
    display: block;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

#production-chain-items .process-tooltip ul li {
    margin-left: 1.25rem;
    line-height: 1rem;
}

#production-chain-items .process-tooltip ul li::before {
    content: "⎆";
    position: absolute;
    left: 0.75rem;
}

#production-chain-items .process-tooltip ul li:hover::before {
    transform: scaleX(-1);
    left: 0.86rem;
}

/* required stuff */

#required-stuff-wrapper {
    display: inline-block;
    width: 50rem;
    background: var(--dark-bg);
    margin-top: 2.5rem;
    border-radius: 0.5rem;
}

#required-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#required-tabs a {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#required-tabs .selected {
    background: var(--active-bg);
}

#required-content > * {
    background: var(--active-bg);
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: none;
}

#required-content .selected {
    display: block;
}

.chain-type-derivatives #required-spectrals-and-raw-materials {
    display: none;
}

#required-spectrals-wrapper {
    display: flex;
}

#required-spectrals {
    /* same width and padding, as the first 2 columns from "#required-raw-materials ul li" */
    width: 14rem;
    padding-right: 2rem;
}

#required-spectrals .spectral-types {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#required-spectrals .spectral-type {
    color: white;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    border-radius: 50%;
}

#required-spectrals .spectral-type.disabled {
    display: none;
}

#required-spectrals .spectral-type.type-C { background: var(--type-c); }
#required-spectrals .spectral-type.type-I { background: var(--type-i); }
#required-spectrals .spectral-type.type-M { background: var(--type-m); }
#required-spectrals .spectral-type.type-S { background: var(--type-s); }

#required-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#required-text .variants {
    display: none;
}

#required-text .variants.active {
    display: block;
}

#required-raw-materials > div {
    font-size: 0.9rem;
}

#required-raw-materials ul {    
    margin-top: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

#required-raw-materials ul li {
    display: grid;
    grid-template-columns: 10rem 4rem 1fr;
    margin-top: 0.1rem;
    padding-left: 1rem; /* match with margin-left from "#required-raw-materials ul" */
    padding-right: 1rem; /* match with margin-right from "#required-raw-materials ul" */
}

/* keep margin-top (from "#required-raw-materials ul li") only for the first "li" of each material-type group */
#required-raw-materials ul li.volatiles ~ li.volatiles,
#required-raw-materials ul li.organics ~ li.organics,
#required-raw-materials ul li.metals ~ li.metals,
#required-raw-materials ul li.rare-earth ~ li.rare-earth,
#required-raw-materials ul li.fissiles ~ li.fissiles {
    margin-top: 0;
}

#required-raw-materials ul li:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#required-raw-materials ul li > * {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#required-raw-materials ul li .label {
    white-space: nowrap;
}

#required-raw-materials ul li:not(.active) .label,
#required-raw-materials ul li:not(.active) .counter {
    color:var(--default-text_faded);
}

#required-raw-materials ul li .counter {
    text-align: right;
    white-space: nowrap;
    padding-right: 2rem;
}

#required-raw-materials ul li .counter::before {
    content: "x ";
    margin-left: 0.5rem;
}

#required-raw-materials ul li .ratio-cell {
    display: flex;
    align-items: center;
}

#required-raw-materials ul li .ratio-bar {
    width: 2%; /* default minimum, overwritten with ratio for each raw-material */
    height: 0.2rem;
}

#required-raw-materials ul li:not(.active) .ratio-bar {
    opacity: 0.2;
}

#required-raw-materials ul li.volatiles .ratio-bar { background-color: var(--volatiles); }
#required-raw-materials ul li.organics .ratio-bar { background-color: var(--organics); }
#required-raw-materials ul li.metals .ratio-bar { background-color: var(--metals); }
#required-raw-materials ul li.rare-earth .ratio-bar { background-color: var(--rare-earth); }
#required-raw-materials ul li.fissiles .ratio-bar { background-color: var(--fissiles); }

/* background gradients for the entire row - 1st cell */
#required-raw-materials ul li.volatiles .label { background: linear-gradient(-90deg, var(--volatiles_faded) 0%, transparent 100%); }
#required-raw-materials ul li.organics .label { background: linear-gradient(-90deg, var(--organics_faded) 0%, transparent 100%); }
#required-raw-materials ul li.metals .label { background: linear-gradient(-90deg, var(--metals_faded) 0%, transparent 100%); }
#required-raw-materials ul li.rare-earth .label { background: linear-gradient(-90deg, var(--rare-earth_faded) 0%, transparent 100%); }
#required-raw-materials ul li.fissiles .label { background: linear-gradient(-90deg, var(--fissiles_faded) 0%, transparent 100%); }

/* background gradients for the entire row - 2nd cell */
#required-raw-materials ul li.volatiles .counter { background: var(--volatiles_faded); }
#required-raw-materials ul li.organics .counter { background: var(--organics_faded); }
#required-raw-materials ul li.metals .counter { background: var(--metals_faded); }
#required-raw-materials ul li.rare-earth .counter { background: var(--rare-earth_faded); }
#required-raw-materials ul li.fissiles .counter { background: var(--fissiles_faded); }

/* background gradients for the entire row - 3rd cell */
#required-raw-materials ul li.volatiles .ratio-cell { background: linear-gradient(90deg, var(--volatiles_faded) 0%, transparent 100%); }
#required-raw-materials ul li.organics .ratio-cell { background: linear-gradient(90deg, var(--organics_faded) 0%, transparent 100%); }
#required-raw-materials ul li.metals .ratio-cell { background: linear-gradient(90deg, var(--metals_faded) 0%, transparent 100%); }
#required-raw-materials ul li.rare-earth .ratio-cell { background: linear-gradient(90deg, var(--rare-earth_faded) 0%, transparent 100%); }
#required-raw-materials ul li.fissiles .ratio-cell { background: linear-gradient(90deg, var(--fissiles_faded) 0%, transparent 100%); }
