@font-face {
    font-family: Jura;
    src: url("font/Jura-Medium.ttf");
}

:root {
    font-size: 0.8rem;

    --type-c: #5639cc;
    --type-i: #4099ff;
    --type-m: #ad3900;
    --type-s: #c58f00;

    --raw-material: lightcoral;
    --refined-material: orange;
    --component: yellow;
    --finished-good: lime;

    --cold-raw-material: #aa8cfa;
    --cold-refined-material: #6e96fa;
    --cold-component: #14dcfa;
    --cold-finished-good: #28e682;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Jura, sans-serif;
    padding: 1rem;
}

label {
    cursor: pointer;
}

/* options */

#options {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#options label {
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

#options label:hover {
    border-color: gray;
}

#options label.checked {
    background: rgba(0, 0, 0, 0.05);
}

#legend span {
    white-space: nowrap;
    margin-left: 0.5rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
}

#legend .legend-raw-material { background: var(--raw-material); }
#legend .legend-refined-material { background: var(--refined-material); }
#legend .legend-component { background: var(--component); }
#legend .legend-finished-good { background: var(--finished-good); }

/* products */

#products-wrapper {
    margin-top: 2rem;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#products a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

#products a:hover {
    border-color: black;
}

#products a.RefinedMaterial { background-color: lightgray; }
#products a.Component { background-color: gray; color: white; }
#products a.FinishedGood { background-color: black; color: white; }

#products a.RefinedMaterial.active { background: var(--refined-material); }
#products a.Component.active { background: var(--component); color: black; }
#products a.FinishedGood.active { background: var(--finished-good); color: black; }

/* process variants */

#process-variants-wrapper {
    display: none;
    margin-top: 2rem;
}

.has-process-variants #process-variants-wrapper {
    display: block;
}

#process-variants {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#process-variants .item {
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

#process-variants .item .item-name {
    font-size: 1.2rem;
    font-weight: bold;
}

#process-variants .item .process {
    display: block;
    margin: 0.5rem 0 0 -0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}

#process-variants .item .process:hover {
    border-color: gray;
}

#process-variants .item .process.checked {
    background: rgba(0, 0, 0, 0.1);
}

@keyframes flash-error {
    50% { background: rgba(255, 0, 0, 0.5); }
}

#process-variants .item .process.error {
    animation: flash-error 150ms;
}

/* required spectrals */
/* (inside "#production-chain-items") */

#required-spectrals {
    display: inline-block;
}

#required-spectrals .line {
    text-align: center;
}

#required-spectrals .spectral-types {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#required-spectrals .spectral-type {
    display: inline-block;
    width: 2.5rem;
    line-height: 2.5rem;
    color: white;
    border-radius: 50%;
}

#required-spectrals .spectral-type.disabled {
    display: none;
}

#required-spectrals .spectral-type.type-C { background: var(--type-c); }
#required-spectrals .spectral-type.type-I { background: var(--type-i); }
#required-spectrals .spectral-type.type-M { background: var(--type-m); }
#required-spectrals .spectral-type.type-S { background: var(--type-s); }

#required-spectrals .variants {
    display: none;
}

#required-spectrals .variants.active {
    display: block;
}

/* production chain */

#production-chain-container {
    text-align: center;
    margin-top: 2rem;
}

#production-chain-items {
    display: inline-block;
    text-align: center;
}

#production-chain-items .level {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1.5rem 1rem 1.5rem 0;
}

#production-chain-items [data-container-id] {
    border: 1px solid gray;
    border-radius: 0.5rem;
}

#production-chain-items.faded [data-container-id] {
    opacity: 0.2;
}

#production-chain-items .active[data-container-id] {
    opacity: 1;
}

#production-chain-items .disabled[data-container-id] {
    display: none;
}

#production-chain-items [data-container-id].item-type-raw-material { background: var(--raw-material); }
#production-chain-items [data-container-id].item-type-refined-material { background: var(--refined-material); }
#production-chain-items [data-container-id].item-type-component { background: var(--component); }
#production-chain-items [data-container-id].item-type-finished-good { background: var(--finished-good); }

#production-chain-items [data-container-id] .item-name {
    display: block;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 0.3rem solid transparent;
    border-radius: 0.5rem;
}

#production-chain-items [data-container-id] .item-name:hover {
    background: rgba(255, 255, 255, 0.5);
    border-bottom-color: white;
}

#production-chain-items.show-details [data-container-id] .item-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#production-chain-items [data-container-id] .details {
    display: none;
    padding: 0 0.5rem;
}

#production-chain-items.show-details [data-container-id] .details {
    display: block;
}

#production-chain-items [data-container-id] .process-name {
    opacity: 0.25;
    margin-bottom: 0.2rem;
}

#production-chain-items [data-container-id] .inputs {
    margin-bottom: 0.5rem;
}

#production-chain-connections .faded {
    opacity: 0.2;
}

#production-chain-items [data-container-id], #production-chain-connections * {
    transition: opacity 500ms;
}

/* cold colors */

.cold-colors #products a.RefinedMaterial.active { background: var(--cold-refined-material); }
.cold-colors #products a.Component.active { background: var(--cold-component); }
.cold-colors #products a.FinishedGood.active { background: var(--cold-finished-good); }

.cold-colors #legend .legend-raw-material { background: var(--cold-raw-material); }
.cold-colors #legend .legend-refined-material { background: var(--cold-refined-material); }
.cold-colors #legend .legend-component { background: var(--cold-component); }
.cold-colors #legend .legend-finished-good { background: var(--cold-finished-good); }

.cold-colors #production-chain-items [data-container-id].item-type-raw-material { background: var(--cold-raw-material); }
.cold-colors #production-chain-items [data-container-id].item-type-refined-material { background: var(--cold-refined-material); }
.cold-colors #production-chain-items [data-container-id].item-type-component { background: var(--cold-component); }
.cold-colors #production-chain-items [data-container-id].item-type-finished-good { background: var(--cold-finished-good); }

.cold-colors #production-chain-items [data-container-id] .process-name { color: white; opacity: 0.75; }
