@font-face {
    font-family: Jura;
    src: url("font/Jura-Medium.ttf");
}

* {
    margin: 0;
}

body {
    font-family: Jura, sans-serif;
    padding: 1rem;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-top: 1rem;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid gray;
}

#products a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

#products a:hover {
    border-color: black;
}

#products a.RefinedMaterial { background-color: lightgray; }
#products a.Component { background-color: gray; color: white; }
#products a.FinishedGood { background-color: black; color: white; }

#products a.RefinedMaterial.active { background: orange; }
#products a.Component.active { background: yellow; color: black; }
#products a.FinishedGood.active { background: lime; color: black; }

#options {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
}

#options label {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

#options label:hover {
    border-color: gray;
}

#options label.checked {
    background: rgba(0, 0, 0, 0.05);
}

#legend span {
    margin-left: 0.5rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
}

#legend .legend-raw-material { background: lightcoral; }
#legend .legend-refined-material { background: orange; }
#legend .legend-component { background: yellow; }
#legend .legend-finished-good { background: lime; }

#required-spectrals {
    background: lightcoral;
    font-weight: bold;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#production-chain-items .level {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 1rem 0;
}

#production-chain-items [data-container-id] {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

#production-chain-items [data-container-id].item-type-raw-material { background: lightcoral; }
#production-chain-items [data-container-id].item-type-refined-material { background: orange; }
#production-chain-items [data-container-id].item-type-component { background: yellow; }
#production-chain-items [data-container-id].item-type-finished-good { background: lime; }

#production-chain-items [data-container-id] > * {
    display: none;
}

#production-chain-items.show-details [data-container-id] > * {
    display: block;
}

#production-chain-items [data-container-id] .item-name {
    display: block;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

#production-chain-items [data-container-id] .item-name:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: white;
}

#production-chain-items [data-container-id] .process-name {
    opacity: 0.25;
}

/* cold colors */

.cold-colors #products a.RefinedMaterial.active { background: #6e96fa; }
.cold-colors #products a.Component.active { background: #14dcfa; }
.cold-colors #products a.FinishedGood.active { background: #28e682; }

.cold-colors #legend .legend-raw-material { background: #aa8cfa; }
.cold-colors #legend .legend-refined-material { background: #6e96fa; }
.cold-colors #legend .legend-component { background: #14dcfa; }
.cold-colors #legend .legend-finished-good { background: #28e682; }

.cold-colors #required-spectrals { background: #aa8cfa; }

.cold-colors #production-chain-items [data-container-id].item-type-raw-material { background: #aa8cfa; }
.cold-colors #production-chain-items [data-container-id].item-type-refined-material { background: #6e96fa; }
.cold-colors #production-chain-items [data-container-id].item-type-component { background: #14dcfa; }
.cold-colors #production-chain-items [data-container-id].item-type-finished-good { background: #28e682; }

.cold-colors #production-chain-items [data-container-id] .process-name { color: white; opacity: 0.75; }
