@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700");
:root {
  --color-influence: rgb(54, 167, 205);
  --color-influence-faded-25: rgba(54, 167, 205, 0.25);
  --color-influence-green: rgb(136, 230, 117);
  --color-text: #ccc;
  --color-warning: rgb(223, 67, 0);
  --cursor-url-active: url("../assets/images/cursor-active.png");
  --cursor-url-default: url("../assets/images/cursor.png");
  --size-base: 40px;
  --size-padding: 16px;
}

html, body {
  cursor: var(--cursor-url-default) 5 5, auto;
  color: var(--color-text);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(50, 50, 50, 0.3);
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: Jura, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-influence);
}

input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-text);
  font-size: 0.9rem;
  height: 30px;
  padding: 0 8px;
}
input[type=number] {
  padding-right: 0;
}
input[type=file] {
  display: none;
}

.cta {
  cursor: var(--cursor-url-active) 5 5, auto;
  align-items: center;
  background: black;
  border: 1px solid var(--color-influence);
  color: var(--color-influence);
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0 8px;
  transition: all 300ms ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}
.cta:hover {
  background: var(--color-influence-faded-25);
  color: white;
}

.root-section {
  padding-bottom: var(--size-base);
}
.root-section .section-title {
  cursor: var(--cursor-url-active) 5 5, auto;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-influence);
  font-weight: bold;
  line-height: var(--size-base);
  padding: 0 var(--size-padding);
  position: relative;
  transition: all 300ms ease 0s;
}
.root-section .section-title:hover {
  background: black;
  color: white;
}
.root-section .section-title.has-toggle:hover::after {
  content: "▲";
  position: absolute;
  right: var(--size-padding);
}
.root-section.closed {
  height: var(--size-base);
  overflow: hidden;
}
.root-section.closed .section-title.has-toggle:hover::after {
  content: "▼";
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root-section .section-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-padding);
  padding: var(--size-padding);
  padding-bottom: 0;
}
.root-section .section-form .form-row {
  align-items: center;
  display: flex;
  gap: var(--size-padding);
}
.root-section .section-form .form-row.disclaimer {
  font-size: 0.9rem;
  opacity: 0.5;
}
.root-section .section-form .form-row input {
  width: 100%;
}

#import-export-section:not(:hover) .disclaimer {
  display: none;
}
#import-export-section .flash-import {
  animation: flash-import 300ms infinite;
}
@keyframes flash-import {
  50% {
    border-color: var(--color-influence-green);
    color: var(--color-influence-green);
  }
}

#private-labels {
  height: 100%;
  overflow: hidden;
}
#private-labels #private-labels-list {
  font-size: 90%;
  height: 100%;
  overflow: auto;
  padding-bottom: var(--size-base);
}
#private-labels #private-labels-list li {
  align-items: center;
  display: grid;
  gap: var(--size-padding);
  grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) auto;
  justify-content: space-between;
  padding: 0 var(--size-padding);
  position: relative;
}
#private-labels #private-labels-list li:hover {
  background: rgba(255, 255, 255, 0.05);
}
#private-labels #private-labels-list li:not(:hover) .remove {
  opacity: 0;
}
#private-labels #private-labels-list li > * {
  position: relative;
}
#private-labels #private-labels-list li .address {
  cursor: var(--cursor-url-active) 5 5, auto;
}
#private-labels #private-labels-list li .address:hover {
  color: var(--color-influence);
}
#private-labels #private-labels-list li .address:hover::after {
  content: "❏";
  margin: -5px 0 0 8px;
}
#private-labels #private-labels-list li .address.flash-copy {
  animation: flash-copy 200ms infinite;
  transition: color 200ms;
}
@keyframes flash-copy {
  50% {
    color: white;
  }
}
#private-labels #private-labels-list li .label {
  color: var(--color-influence-green);
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#private-labels #private-labels-list li .remove {
  line-height: var(--size-base);
  min-width: var(--size-base);
  text-align: center;
}
#private-labels #private-labels-list li .remove::after {
  content: "✕";
}
#private-labels #private-labels-list li .remove:hover {
  cursor: var(--cursor-url-active) 5 5, auto;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-warning);
}/*# sourceMappingURL=private-labels.css.map */