@import './widgets-core.scss';

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.root-section {
    .section-form {
        display: flex;
        flex-direction: column;
        gap: var(--size-padding);
        padding: var(--size-padding);
        padding-bottom: 0;

        .form-row {
            align-items: center;
            display: flex;
            gap: var(--size-padding);

            &.disclaimer {
                font-size: 0.9rem;
                opacity: 0.5;
            }

            input {
                width: 100%;
            }
        }
    }
}

#import-export-section {
    &:not(:hover) {
        .disclaimer {
            display: none;
        }
    }

    .flash-import {
        animation: flash-import 300ms infinite;

        @keyframes flash-import {
            50% {
                border-color: var(--color-influence-green);
                color: var(--color-influence-green);
            }
        }
    }
}

#private-labels {
    height: 100%;
    overflow: hidden;

    #private-labels-list {
        font-size: 90%;
        height: 100%;
        overflow: auto;
        padding-bottom: var(--size-base);

        li {
            align-items: center;
            display: grid;
            gap: var(--size-padding);
            grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) auto;
            justify-content: space-between;
            padding: 0 var(--size-padding);
            position: relative;

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }

            &:not(:hover) {
                .remove {
                    opacity: 0;
                }
            }

            > * {
                position: relative;
            }

            .address {
                @include cursor-active;

                &:hover {
                    color: var(--color-influence);
    
                    &::after {
                        content: '❐'; // copy-to-clipboard symbol
                        margin: -5px 0 0 8px;
                    }
                }

                &.flash-copy {
                    animation: flash-copy 200ms infinite;
                    transition: color 200ms;
    
                    @keyframes flash-copy { 50% { color: white; } }
                }
            }

            .label {
                color: var(--color-influence-green);
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .remove {
                line-height: var(--size-base);
                min-width: var(--size-base);
                text-align: center;

                &::after {
                    content: '✕';
                }

                &:hover {
                    @include cursor-active;
                    background: rgba(255, 255, 255, 0.1);
                    color: var(--color-warning);
                }
            }
        }
    }
}
