@import './widgets-core.scss';

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.root-section {
    .section-form {
        display: flex;
        flex-direction: column;
        gap: var(--size-padding);
        padding: var(--size-padding);
        padding-bottom: 0;

        .form-row {
            align-items: center;
            display: flex;
            gap: var(--size-padding);
            justify-content: space-between;

            &.disclaimer {
                font-size: 0.9rem;
                opacity: 0.5;
            }

            input:not([type='checkbox']) {
                width: 100%;
            }
        }
    }
}

#import-export-section {
    &:not(:hover) {
        .disclaimer {
            display: none;
        }
    }

    .flash-import {
        animation: flash-import 300ms infinite;

        @keyframes flash-import {
            50% {
                border-color: var(--color-influence-green);
                color: var(--color-influence-green);
            }
        }
    }
}

#add-update-section {
    label[for='input-is-blacklisted'] {
        padding: 4px 8px;

        &.checked {
            color: var(--color-warning);
        }

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
    }
}

#private-labels {
    height: 100%;
    overflow: hidden;

    .section-title {
        position: relative;

        #search-wrapper {
            position: absolute;
            right: var(--size-padding);
            top: 0;

            #input-search {
                background: black;
                text-align: right;
                transition: width 300ms ease 0s;
                width: 90px;

                &:hover,
                &:focus {
                    width: 180px;
                }
            }
        }
    }

    #private-labels-list {
        font-size: 90%;
        height: 100%;
        overflow: auto;
        padding-bottom: var(--size-base);

        li {
            @include cursor-active;
            align-items: center;
            display: grid;
            gap: var(--size-padding);
            grid-template-columns: minmax(0, 3fr) minmax(0, 5fr) auto;
            justify-content: space-between;
            padding: 0 var(--size-padding);
            position: relative;

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }

            &:not(:hover) {
                .remove {
                    opacity: 0;
                }
            }

            > * {
                position: relative;
            }

            .label {
                color: var(--color-influence-green);
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .remove {
                line-height: calc(var(--size-base) * 0.75);
                min-width: calc(var(--size-base) * 0.75);
                text-align: center;

                &::after {
                    content: '✕';
                }

                &:hover {
                    background: var(--color-warning);
                    color: white;
                }
            }

            &.is-blacklisted {
                .address,
                .label {
                    color: var(--color-warning);
                }
            }
        }
    }
}
