@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700");
:root {
  --color-influence: rgb(54, 167, 205);
  --color-influence-faded-25: rgba(54, 167, 205, 0.25);
  --color-text: #ccc;
  --color-warning: rgb(223, 67, 0);
  --cursor-url-active: url("../assets/images/cursor-active.png");
  --cursor-url-default: url("../assets/images/cursor.png");
  --size-base: 40px;
  --size-padding: 16px;
}

html, body {
  cursor: var(--cursor-url-default) 5 5, auto;
  color: var(--color-text);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(50, 50, 50, 0.3);
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: Jura, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-text);
  font-size: 0.9rem;
  height: 30px;
  padding: 0 8px;
}
input[type=number] {
  padding-right: 0;
}

.cta {
  cursor: var(--cursor-url-active) 5 5, auto;
  align-items: center;
  background: black;
  border: 1px solid var(--color-influence);
  color: var(--color-influence);
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0 8px;
  transition: all 300ms ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cta:hover {
  background: var(--color-influence-faded-25);
  color: white;
}

#products-list-wrapper {
  display: inline-block;
  margin-left: 0.5rem;
  position: relative;
}
#products-list-wrapper input {
  border: 1px solid var(--item-name);
  line-height: 2rem;
  padding: 0 2rem 0 1rem;
  width: 14rem;
}
#products-list-wrapper::after {
  content: "✕";
  cursor: pointer;
  line-height: 2rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
#products-list-wrapper.list-hidden::after {
  content: "▼";
  margin: 1px -1px 0 0;
}
#products-list-wrapper.list-hidden #products-list,
#products-list-wrapper.list-hidden #filters-list {
  display: none;
}
#products-list-wrapper #products-list {
  background: var(--overactive-bg);
  border: 1px solid var(--item-name);
  border-top: none;
  max-height: 20rem;
  overflow: auto;
  position: absolute;
  width: 14rem;
  z-index: 1;
}
#products-list-wrapper #products-list a {
  color: var(--item-name);
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
#products-list-wrapper #products-list a:hover {
  background: var(--dark-bg) !important;
}
#products-list-wrapper #products-list a[class*=not-matching] {
  display: none;
}
#products-list-wrapper #products-list a.item-type-finished-good, #products-list-wrapper #products-list a.item-type-ship, #products-list-wrapper #products-list a.item-type-building {
  color: white;
}
#products-list-wrapper #filters-list {
  background: white;
  border: 1px solid var(--item-name);
  border-bottom-right-radius: 0.5rem;
  border-left: none;
  border-top-right-radius: 0.5rem;
  color: black;
  position: absolute;
  right: -11rem;
  top: 0;
  width: 11rem;
  z-index: 1;
}
#products-list-wrapper #filters-list > * {
  display: block;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
#products-list-wrapper #filters-list .header {
  border-bottom: 1px solid var(--item-name);
}
#products-list-wrapper #filters-list .option {
  cursor: pointer;
}
#products-list-wrapper #filters-list .option:last-child {
  border-bottom-right-radius: 0.5rem;
}
#products-list-wrapper #filters-list .option:hover {
  background: var(--dark-bg) !important;
  color: var(--item-name);
}
#products-list-wrapper #filters-list .checked {
  color: var(--item-name);
  position: relative;
}
#products-list-wrapper #filters-list .checked::after {
  content: "✅";
  position: absolute;
  right: 1rem;
}
#products-list-wrapper #filters-list #filter-finished-good.checked,
#products-list-wrapper #filters-list #filter-ship.checked,
#products-list-wrapper #filters-list #filter-building.checked {
  color: white;
}

.root-section {
  padding-bottom: var(--size-base);
}
.root-section .section-title {
  cursor: var(--cursor-url-active) 5 5, auto;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-influence);
  font-weight: bold;
  line-height: var(--size-base);
  padding: 0 var(--size-padding);
  position: relative;
  transition: all 300ms ease 0s;
}
.root-section .section-title:hover {
  background: black;
  color: white;
}
.root-section .section-title:hover::after {
  content: "▲";
  position: absolute;
  right: var(--size-padding);
}
.root-section.closed {
  height: var(--size-base);
  overflow: hidden;
}
.root-section.closed .section-title:hover::after {
  content: "▼";
}

.products-shopping-list li {
  align-items: center;
  display: flex;
  gap: var(--size-padding);
  height: var(--size-base);
  justify-content: space-between;
  padding: 0 var(--size-padding);
  position: relative;
}
.products-shopping-list li:hover {
  background: rgba(255, 255, 255, 0.05);
}
.products-shopping-list li > * {
  line-height: var(--size-base);
  position: relative;
}
.products-shopping-list li .product-image {
  width: var(--size-base);
}
.products-shopping-list li .product-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#planned-products-section #planned-products-list li {
  padding-right: 0;
}
#planned-products-section #planned-products-list li:not(:hover) .remove {
  opacity: 0;
}
#planned-products-section #planned-products-list li .qty-input {
  width: 90px;
}
#planned-products-section #planned-products-list li .remove {
  line-height: var(--size-base);
  min-width: var(--size-base);
  text-align: center;
}
#planned-products-section #planned-products-list li .remove::after {
  content: "✕";
}
#planned-products-section #planned-products-list li .remove:hover {
  cursor: var(--cursor-url-active) 5 5, auto;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-warning);
}
#planned-products-section #add-product-wrapper {
  margin-left: var(--size-padding);
  margin-right: calc(var(--size-padding) + var(--size-base));
  margin-top: var(--size-padding);
}
#planned-products-section #add-product-wrapper #products-list-wrapper {
  display: block;
  margin-left: unset;
}
#planned-products-section #add-product-wrapper #products-list-wrapper::after {
  cursor: var(--cursor-url-active) 5 5, auto;
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 0.8rem;
  line-height: unset;
}
#planned-products-section #add-product-wrapper #products-list-wrapper input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: unset;
  padding: 0 8px;
  width: 100%;
}
#planned-products-section #add-product-wrapper #products-list-wrapper #products-list {
  --size-line-height: 30px;
  background: rgb(15, 15, 15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9rem;
  line-height: var(--size-line-height);
  max-height: calc(var(--size-line-height) * 10);
  transition: all 300ms ease 0s;
  width: 100%;
}
#planned-products-section #add-product-wrapper #products-list-wrapper #products-list a {
  cursor: var(--cursor-url-active) 5 5, auto;
  color: unset;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#planned-products-section #add-product-wrapper #products-list-wrapper #products-list a:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
#planned-products-section #add-product-wrapper #products-list-wrapper.list-hidden #products-list {
  display: block;
  max-height: 0px;
  opacity: 0;
}
#planned-products-section #add-product-wrapper #products-list-wrapper:not(.list-hidden) {
  z-index: 2;
}
#planned-products-section #add-product-wrapper #products-list-wrapper:not(.list-hidden) input {
  background: black;
}
#planned-products-section #add-product-wrapper #products-list-wrapper:not(.list-hidden) #products-list {
  box-shadow: 0 10px 20px black;
  opacity: 1;
}

#shopping-list-section {
  --padding-right: 8px;
}
#shopping-list-section #shopping-list:empty::before {
  content: "No planned products";
  line-height: var(--size-base);
  opacity: 0.5;
  padding: 0 var(--size-padding);
}
#shopping-list-section #shopping-list.warning::before {
  content: "You may need to round up some quantities";
  color: var(--color-warning);
  line-height: var(--size-base);
  padding: 0 var(--size-padding);
}
#shopping-list-section #shopping-list li {
  --copy-icon-offset: 3px;
  --copy-icon-size: 10px;
  gap: 0;
}
#shopping-list-section #shopping-list li .product-name,
#shopping-list-section #shopping-list li .qty {
  padding-left: var(--size-padding);
}
#shopping-list-section #shopping-list li .product-name:hover,
#shopping-list-section #shopping-list li .qty:hover {
  cursor: var(--cursor-url-active) 5 5, auto;
  color: var(--color-influence);
}
#shopping-list-section #shopping-list li .product-name:hover::before, #shopping-list-section #shopping-list li .product-name:hover::after,
#shopping-list-section #shopping-list li .qty:hover::before,
#shopping-list-section #shopping-list li .qty:hover::after {
  background: black;
  border: 1px solid var(--color-influence);
  color: var(--color-influence);
  content: "";
  height: var(--copy-icon-size);
  line-height: var(--copy-icon-size);
  position: absolute;
  text-align: center;
  width: var(--copy-icon-size);
}
#shopping-list-section #shopping-list li .product-name:hover::before,
#shopping-list-section #shopping-list li .qty:hover::before {
  left: 0;
  top: 0;
}
#shopping-list-section #shopping-list li .product-name:hover::after,
#shopping-list-section #shopping-list li .qty:hover::after {
  content: "+";
  left: var(--copy-icon-offset);
  top: var(--copy-icon-offset);
}
#shopping-list-section #shopping-list li .product-name.flash,
#shopping-list-section #shopping-list li .qty.flash {
  animation: flash 200ms infinite;
  transition: all 200ms;
}
@keyframes flash {
  50% {
    color: white;
  }
}
#shopping-list-section #shopping-list li .qty {
  padding-right: var(--padding-right);
}
#shopping-list-section #shopping-list li .qty.warning {
  color: var(--color-warning);
}
#shopping-list-section #shopping-list li .qty.warning::before, #shopping-list-section #shopping-list li .qty.warning::after {
  border-color: var(--color-warning);
  color: var(--color-warning);
}
#shopping-list-section #shopping-list li .qty-wrapper {
  --price-height: 16px;
  padding-bottom: var(--price-height);
  position: relative;
}
#shopping-list-section #shopping-list li .qty-wrapper .price {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  opacity: 0.5;
  position: absolute;
  right: var(--padding-right);
  top: 16px;
  z-index: -1;
}
#shopping-list-section #shopping-list li .qty-wrapper .price::before {
  background-image: url("../assets/images/sway.svg");
  background-position-y: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: var(--price-height);
  width: var(--price-height);
}
#shopping-list-section #price-total {
  color: var(--color-influence);
  display: flex;
  gap: var(--size-padding);
  line-height: var(--size-base);
  padding: 0 var(--size-padding);
  position: relative;
}
#shopping-list-section #price-total.hidden {
  display: none;
}
#shopping-list-section #price-total .price-label {
  flex-grow: 1;
  text-align: right;
}
#shopping-list-section #price-total .price-value {
  align-items: center;
  display: flex;
  padding-right: var(--padding-right);
}
#shopping-list-section #price-total .price-value::before {
  background-image: url("../assets/images/sway.svg");
  background-position-y: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
}
#shopping-list-section #price-disclaimer {
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 0 var(--size-padding);
  text-align: right;
}
#shopping-list-section.prices-visible #shopping-list li {
  height: calc(var(--size-base) * 1.2);
}
#shopping-list-section:not(.prices-visible) #shopping-list li .qty-wrapper {
  padding-bottom: unset;
}
#shopping-list-section:not(.prices-visible) #shopping-list li .qty-wrapper .price {
  display: none;
}
#shopping-list-section:not(.prices-visible) #price-total,
#shopping-list-section:not(.prices-visible) #price-disclaimer {
  display: none;
}/*# sourceMappingURL=shopping-list.css.map */