@import './widgets-core.scss';
@import '../../products-list.scss';

.root-section {
    padding-bottom: calc(var(--size-padding) * 2);

    .section-title {
        @include cursor-active;
        background: rgba(0, 0, 0, 0.5);
        color: var(--color-influence);
        font-weight: bold;
        line-height: var(--size-base);
        padding: 0 var(--size-padding);
        position: relative;
        transition: all 300ms ease 0s;

        &:hover {
            background: black;
            color: white;

            &::after {
                content: '▲';
                position: absolute;
                right: var(--size-padding);
            }
        }
    }

    &.closed {
        height: var(--size-base);
        overflow: hidden;

        .section-title {
            &:hover {
                &::after {
                    content: '▼';
                }
            }
        }
    }
}

.products-shopping-list {
    li {
        align-items: center;
        display: flex;
        gap: var(--size-padding);
        height: var(--size-base);
        justify-content: space-between;
        padding: 0 var(--size-padding);
        position: relative;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        .product-image {
            height: var(--size-base);
            width: var(--size-base);
        }

        .product-name {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#planned-products-section {
    #planned-products-list {
        li {
            padding-right: 0;

            &:not(:hover) {
                .remove {
                    opacity: 0;
                }
            }

            .qty {
                width: 90px;
            }

            .remove {
                line-height: var(--size-base);
                min-width: var(--size-base);
                text-align: center;

                &::after {
                    content: '✕';
                }

                &:hover {
                    @include cursor-active;
                    background: rgba(255, 255, 255, 0.1);
                    color: var(--color-warning);
                }
            }
        }
    }

    #add-product-wrapper {
        // Align w/ planned products (on the left) and their qty-inputs (on the right)
        margin-left: var(--size-padding);
        margin-right: calc(var(--size-padding) + var(--size-base));
        margin-top: var(--size-padding);

        // Overwrite styles from "products-list.scss"
        #products-list-wrapper {
            display: block;
            margin-left: unset;

            &::after {
                @include cursor-active;
                align-items: center;
                bottom: 0;
                display: flex;
                font-size: 0.8rem;
                line-height: unset;
            }

            input {
                border: 1px solid rgba(255, 255, 255, 0.2);
                line-height: unset;
                padding: 0 8px;
                width: 100%;
            }

            #products-list {
                --size-line-height: 30px;
                background: rgb(15, 15, 15);
                border: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 0.9rem;
                line-height: var(--size-line-height);
                max-height: calc(var(--size-line-height) * 10); // fit 10 list-items
                transition: all 300ms ease 0s;
                width: 100%;

                a {
                    @include cursor-active;
                    color: unset;
                    overflow: hidden;
                    padding: 0 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        background: rgba(255, 255, 255, 0.05) !important;
                    }
                }
            }

            &.list-hidden {
                #products-list {
                    display: block;
                    max-height: 0px;
                    opacity: 0;
                }
            }

            &:not(.list-hidden) {
                z-index: 2;

                input {
                    background: black;
                }

                #products-list {
                    box-shadow: 0 10px 20px black;
                    opacity: 1;
                }
            }
        }
    }
}

#shopping-list-section {
    #shopping-list {
        &:empty {
            &::before {
                content: 'No planned products';
                line-height: var(--size-base);
                opacity: 0.5;
                padding: 0 var(--size-padding);
            }
        }
    }
}
